.subtitle {
  font-size: 1.1rem;
  letter-spacing: -0.029375rem;
  font-weight: 600;
  color: var(--accents-6);
}

.back {
  font-size: 0.8rem;
  letter-spacing: -0.029375rem;
  font-weight: 400;
  padding-bottom: 20px;
  color: var(--accents-6);
}

